<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <title>{{ page.title }}</title>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <link href="https://api.mapbox.com/mapbox-assembly/v0.23.1/assembly.min.css" rel="stylesheet">
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
  <script src="../bbox.js"></script>
  <style>
    body {
      background: #F9C66D;
      color: #000;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }


    a {
      color: #404040;
      text-decoration: none;
    }

    a:hover {
      color: #101010;
    }

    #stewsearch {
      padding: 10px;
      height: 30px;
      outline: none;
      border: 1px solid #cdcdcd;
      border-color: rgba(0, 0, 0, .15);
      background-color: white;
      font-size: 12px;
      width: 90%;
    }

    .heading {
      font-weight: bolder;
    }

    #clear {
      cursor: pointer;
      float: right;
    }

    .sidebar {
      position: absolute;
      width: 33.3333%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }

    .sidebar_content {
      height: 100%;
      overflow: scroll;
    }

    .sidebar--item {
      height: 80px;
      border-top: 1px solid black;
      padding: 10px;
      cursor: pointer;
    }

    .sidebar--iteminfo {
      font-weight: bold;
      height: 58px;
    }

    .sidebar--profile {
      font-size: 12px;
    }

    .sidebar--networkorg {
      color: #af8edf;
      text-decoration: underline;
      font-weight: bold;
    }
    .sidebar--networkorg:hover {
      text-decoration: none;
    }
    .description {
      font-size: 12px;
      padding: 10px;
    }

    .active {
      color: #036103;
    }
    .network {
      color: #af8edf;
    }

    .sidebar--item.active {
      border-left: 10px solid #036103;
      height: 100%;
      overflow: scroll;
    }

    .sidebar--item.network {
      border-left: 10px solid #af8edf;
    }

    .sidebar--item.explore {
      border-left: 10px;
    }

    .hidden {
      visibility: hidden;
      display: none;
    }

    .pad2 {
      padding: 20px;
    }

    .map {
      position: absolute;
      left: 33.3333%;
      width: 66.6666%;
      top: 0;
      bottom: 0;
    }

    .listings {
      height: 100%;
      overflow: auto;
      padding-bottom: 60px;
    }

    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-left: 0;
      background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-track {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: #036103;
      border-radius: 0;
    }

    .clearfix {
      display: block;
    }

    .clearfix::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .turf {
      font-color: #fff;
    }
  </style>
</head>

<body class="prose">
  <div class="sidebar">
    <div class="px12 py12">
        <span id="clear" class="hidden">[x]</span>
        <span class="heading">{{ page.title }}</span><p/>
        <div class="description">Select a civic group to view organizational details, <span class="active">where they work</span> and <span class="network">who they work with</span>. Click map to find groups working in that spot. Data produced by the <a href="https://www.nrs.fs.fed.us/STEW-MAP/">STEW MAP</a> project, and map developed with the <a href="https://www.nrs.fs.fed.us/">USDA Forest Service</a> for the <a href="https://opportunity.census.gov/">US Census Opportunity Project</a>.<br/><br/>
        <input id="stewsearch" placeholder="Search.." />
        </div>
    </div>
    <div id="orgs" class="sidebar_content">

    </div>
  </div>

  <div id="map" class="map"> </div>
  <script>
    mapboxgl.accessToken = "pk.eyJ1IjoibWlrZWxtYXJvbiIsImEiOiJjaWZlY25lZGQ2cTJjc2trbmdiZDdjYjllIn0.Wx1n0X7aeCQyDTnK6_mrGw";

    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mikelmaron/ck2xtkpm10yhq1cnzdmjhoalx",
      center: [{{page.lon}}, {{page.lat}}],
      zoom: {{page.zoom}}
    });
    map.addControl(new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl
    }));
    map.addControl(new mapboxgl.NavigationControl());

    map.on("load", () => {
      map.addSource("network-points", {
        url: "mapbox://{{page.points_source}}",
        type: "vector",
      });

      map.addSource("network-turf", {
        url: "mapbox://{{page.polygon_source}}",
        type: "vector",
      });

      map.addLayer({
        id: "org-turf",
        type: "fill",
        source: "network-turf",
        "source-layer": "{{page.polygon_source_layer}}",
        paint: {
          "fill-color": "rgba(208, 98, 34, 0.41)"
        },
        filter: ["==", ["get", "PopID"], ""]
      })

      map.addLayer({
        id: "org-turf-outline",
        type: "line",
        source: "network-turf",
        "source-layer": "{{page.polygon_source_layer}}",
        paint: {
          "line-color": "rgb(208, 98, 34)",
          "line-width": 2
        },
        filter: ["==", ["get", "PopID"], ""]
      })

      map.addLayer({
        id: "org-turf-hover",
        type: "line",
        source: "network-turf",
        "source-layer": "{{page.polygon_source_layer}}",
        paint: {
          "line-color": "#F9C66D",
          "line-width": 3
        },
        filter: ["==", ["get", "PopID"], ""]
      })

      map.addLayer({
        id: "network-hq",
        type: "circle",
        source: "network-points",
        "source-layer": "{{page.points_source_layer}}",
        paint: {
          "circle-color": "#af8edf",
          "circle-radius": 5
        },
        filter: ["==", ["get", "PopID"], ""]
      });

      map.addLayer({
        id: "network-hq-outline",
        type: "circle",
        source: "network-points",
        "source-layer": "{{page.points_source_layer}}",
        paint: {
          "circle-color": "rgba(124, 163, 230, 0)",
          "circle-radius": 10,
          "circle-stroke-color": "#af8edf",
          "circle-stroke-width": 2,
        },
        filter: ["==", ["get", "PopID"], ""]
      });

      map.addLayer({
        id: "org-hq",
        type: "circle",
        source: "network-points",
        "source-layer": "{{page.points_source_layer}}",
        paint: {
          "circle-color": "#036103",
          "circle-radius": 6
        },
        filter: ["==", ["get", "PopID"], ""]
      });

      map.addLayer({
        id: "org-hq-outline",
        type: "circle",
        source: "network-points",
        "source-layer": "{{page.points_source_layer}}",
        paint: {
          "circle-color": "rgba(81, 249, 198, 0)",
          "circle-radius": 12,
          "circle-stroke-color": "#036103",
          "circle-stroke-width": 1,
        },
        filter: ["==", ["get", "PopID"], ""]
      });

      if (map.isSourceLoaded("network-points") && map.isSourceLoaded("network-turf")) {
        buildSidebar();
      } else {
        map.on("sourcedata", setAfterLoad);
      }

      map.on("click", mapTurfOnClick);
    })

    var popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
    });

    const showPopUp = (e) => {
      // Change the cursor style as a UI indicator.
      map.getCanvas().style.cursor = 'pointer';

      var coordinates = e.features[0].geometry.coordinates.slice();
      var description = e.features[0].properties.OrgName;

      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup.setLngLat(coordinates)
       .setHTML(description)
       .addTo(map);
    }

    map.on('mouseenter', 'network-hq', showPopUp);
    map.on('mouseenter', 'org-hq', showPopUp);

    const hidePopUp = (e) => {
      map.getCanvas().style.cursor = '';
      popup.remove();
    }
    map.on('mouseleave', 'network-hq', hidePopUp);
    map.on('mouseleave', 'org-hq', hidePopUp);

    const clickOrg = (e) => {
      const el = document.getElementById("popID" + e.features[0].properties['PopID']);
      resetOrgOnClick();
      mapOrgOnClick(hqNetworks[e.features[0].properties['PopID']], el);
      listOrgOnClick(hqNetworks[e.features[0].properties['PopID']], el);
    }
    map.on('click', 'network-hq', clickOrg);

    let buildSidebarInterval = -1;

    const setAfterLoad = (e) => {
      if (map.isSourceLoaded('network-points') && map.isSourceLoaded('network-turf')) {
        buildSidebarInterval = setInterval(buildSidebar,100);
        map.off("sourcedata", setAfterLoad)
      }
    }

    const buildSidebar = () => {
      const requestedData = map.querySourceFeatures("network-points", {
        sourceLayer: "{{page.points_source_layer}}"
      });
      if (requestedData.length < {{page.org_count}}) return;
      clearInterval(buildSidebarInterval);

      const sidebar = document.getElementById("orgs");
      document.getElementById("clear").addEventListener("click", resetOrgOnClick);
      document.getElementById("stewsearch").addEventListener("input", searchOrgs);

      let hqs = [];
      requestedData.map(function(item) {
        return hqs.push(item.properties);
      });
      hqs = hqs.sort(function(a,b) {
        if (a['OrgName'] == undefined) return 1;
        if (b['OrgName'] == undefined) return -1;
        return (a['OrgName'].toLowerCase() < b['OrgName'].toLowerCase() ? -1 : 1)
      });
      const keys = ["PopID"];
      const uniqueHqs = hqs.filter(
        (s => o =>
          (k => !s.has(k) && s.add(k))
          (keys.map(k => o[k]).join("|"))
        )
        (new Set)
      );

      //global scope, got fed up trying to enable scope within map anonymous function below
      hqNames = {};
      uniqueHqs.forEach((t) => {
        hqNames[t.PopID] = t.OrgName;
      });

      hqNetworks = {};
      uniqueHqs.forEach((t) => {
        hqNetworks[t.PopID] = t.network;
      });

      uniqueHqs.map(function(t) {
        const sidebarItem = document.createElement("div");
        sidebarItem.classList.add("sidebar--item");
        sidebarItem.id = 'popID' + t.PopID;
        sidebarItem.setAttribute('data-bbox', t._bbox);

        const itemInfo = document.createElement("div");
        itemInfo.classList.add("sidebar--iteminfo");
        itemInfo.textContent = `${t.OrgName}`;
        sidebarItem.append(itemInfo);

        const itemProfile = document.createElement("p");
        itemProfile.classList.add("hidden");
        itemProfile.classList.add("sidebar--profile")
        itemProfile.innerHTML = buildProfile(t) + buildNetworkList(t);
        sidebarItem.append(itemProfile);


        sidebar.append(sidebarItem);

        const networks = t.network;
        itemInfo.addEventListener("click", function(){
          const el = this.parentElement;
          resetOrgOnClick();
          mapOrgOnClick(networks, el);
          listOrgOnClick(networks,el);
        });

        sidebarItem.addEventListener("mouseover", function(){
          map.setFilter("org-turf-hover", ["==", ["get", "PopID"], Number(this.id.replace('popID',''))]);
        });
        sidebarItem.addEventListener("mouseout", function(){
          map.setFilter("org-turf-hover", ["==", ["get", "PopID"], ""]);
        });
      });

      document.querySelectorAll('.sidebar--networkorg').forEach((element) => {
        const networks = element.network;
        element.addEventListener("mouseover", function(){
          map.setFilter("network-hq-outline", ["==", ["get", "PopID"], Number(this.getAttribute('data-popID'))]);
        });
        element.addEventListener("mouseout", function(){
          map.setFilter("network-hq-outline", ["==", ["get", "PopID"], ""]);
        });
        element.addEventListener("click", function(){
          const el = document.getElementById("popID" + this.getAttribute('data-popID'));
          resetOrgOnClick();
          mapOrgOnClick(hqNetworks[this.getAttribute('data-popID')], el);
          listOrgOnClick(hqNetworks[this.getAttribute('data-popID')], el);
        });
      });

    }

    const resetOrgOnClick = () => {
      map.setFilter("org-hq", ["==", ["get", "PopID"], ""]);
      map.setFilter("org-hq-outline", ["==", ["get", "PopID"], ""]);
      map.setFilter("network-hq", ["==", ["get", "PopID"], ""]);
      map.setFilter("network-hq-outline", ["==", ["get", "PopID"], ""]);
      map.setFilter("org-turf", ["==", "PopID", ""]);
      map.setFilter("org-turf-outline", ["==", "PopID", ""]);

      document.querySelector('#clear').classList.add('hidden');
      document.querySelector('#stewsearch').classList.remove('hidden');

      document.querySelectorAll('.sidebar--item').forEach((element) => {
        element.classList.remove('hidden');
        element.classList.remove('active');
        element.classList.remove('network');
        element.classList.remove('explore');
      });

      document.querySelectorAll('.sidebar--profile').forEach((element) => {
        element.classList.add('hidden');
      });

    }

    const searchOrgs = (e) => {
       var search = e.target.value.toLowerCase();

       document.querySelectorAll('.sidebar--item').forEach((element) => {
         if (search.length <= 3) {
           element.classList.remove('hidden');
         } else if (search.length > 3 && element.firstChild.textContent.toLowerCase().search(search) != -1) {
           element.classList.remove('hidden');
         } else {
           element.classList.add('hidden');
         }
       });
    }

    const buildNetworkFilter = (networkString) => {
      const filter = ["in", "PopID"];
      const networkArr = networkString.split(",");
      for (i in networkArr) {
        filter.push(Number(networkArr[i]));
      }

      return filter;
    }

    const mapTurfOnClick = (e) => {
      //if any org active in sidebar, return
      if (document.querySelectorAll('.sidebar--item.active').length > 0) return;

      // query source features at point
      var query = 'https://api.mapbox.com/v4/{{page.polygon_source}}/tilequery/' + e.lngLat.lng + ',' + e.lngLat.lat + '.json?radius=200&limit=50&access_token=' + mapboxgl.accessToken;

      // make the call to Tilequery API and parse the results
      $.ajax({
        method: 'GET',
        url: query,
      }).done(function(data) {
        if (data.features.length > 0) {
          document.querySelector('#clear').classList.remove('hidden');
          document.querySelector('#stewsearch').classList.add('hidden');
          var turfs = data.features.map(function(item,index) { return item.properties.PopID});
          map.setFilter("org-turf-outline", buildNetworkFilter(turfs.join(',')));
          document.querySelectorAll('.sidebar--item').forEach((element) => {
            if (turfs.includes(Number(element.id.replace("popID","")))) {
              element.classList.add('explore');
              element.classList.remove('hidden');
            } else {
              element.classList.add('hidden');
              element.classList.remove('explore');
            }
          });
        }
      });
    }

    const mapOrgOnClick = (networkString, el) => {
      const popId = el.id.replace("popID","");
      map.setFilter("org-hq", ["==", ["get", "PopID"], Number(popId)]);
      map.setFilter("org-hq-outline", ["==", ["get", "PopID"], Number(popId)]);
      map.setFilter("network-hq", buildNetworkFilter(networkString));
      //map.setFilter("network-hq-outline", buildNetworkFilter(networkString));
      map.setFilter("org-turf", ["==", "PopID", Number(popId)]);

      var bounds = el.getAttribute('data-bbox').split(',');
      map.fitBounds(bounds, {  padding: {top: 50, bottom:50, left: 50, right: 50}, maxZoom: 17});
    }

    const listOrgOnClick = (networkString, el) => {
      document.querySelector('#clear').classList.remove('hidden');
      document.querySelector('#stewsearch').classList.add('hidden');

      document.querySelectorAll('.sidebar--item').forEach((element) => {
        element.classList.add('hidden');
      });
      document.querySelectorAll('.sidebar--item.active').forEach((element) => {
        element.classList.remove('active');
        element.classList.remove('network');
      });
      el.classList.remove('hidden');
      el.classList.add('active');

      el.querySelector('.sidebar--profile').classList.remove('hidden');
    }


    function buildProfile(properties) {
           return ( properties.OrgWebSite ? "<p><a href='http://" + properties.OrgWebSite + "'>http://" + properties.OrgWebSite + "</a><br/>" : "") +
           (properties.OrgPhone? "<b>Phone: </b>" + properties.OrgPhone + "<br/>" : "") +
           "<b>Email: </b><a href='mailto:" + properties.OrgEmail + "'>" + properties.OrgEmail + " </a><br/>" +
           "</p><p><strong>Address:</strong>" + properties.OrgStreet1 + "<br/>" +
           "" + properties.OrgCity + "," + properties.OrgState + " " + properties.OrgZip + "</p>" +
           "<p><b>Goals + Mission: </b>" + properties.Goals + "</p>" +
           "<p>" + properties.Mission + "</p>" +
           "<p><b>Full Time Staff: </b>" + properties.FTStaff + " <b>Part Time: </b>" + properties.PTStaff + "<br/>" +
           "<b>Members: </b>" + properties.Members + "<br/>" +
           "<b>Funding: </b>" + properties.Funding + "<br/>" +
           "<b>OrgType: </b>" + properties.OrgType + "</p>";
    }

    function buildNetworkList(properties) {
      let list = "<p>";
      if (properties.network) {
        properties.network.split(",").forEach(function(popID) {
          list += "<span class='sidebar--networkorg' data-popid='" + popID + "'>" + hqNames[popID] + "</span> ";
        });
      }
      list += "</p>";
      return list;
    }


  </script>
</body>

</html>
